[submodule "json11"]
	path = json11
	url = https://github.com/dropbox/json11.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "bfdfs"]
	path = bfdfs
	url = https://github.com/aaalgo/bfdfs
[submodule "boostache"]
	path = boostache
	url = https://github.com/cierelabs/boostache.git
