<html>
<head>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
</head>
<body>
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
{{#images}}
<div class="grid-item" height="300" width="300">
<img src="/image?id={{id}}{{ext}}"></img>
</div>
{{/images}}
</div>
<script>
$(document).ready(function() {
    $('.grid').masonry({
    // options...
    itemSelector: '.grid-item',
    columnWidth: 200
    });
});
</script>
</body>
</html>

